# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.local
.env.*

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Temporary uploads & output directories
uploads/
gradcam_outputs/
outputs/

# Editor/OS files
.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
